{% extends 'base_about.html' %}
{% block content %} 
<br>
<h1 align="center">ABOUT US</h1>
<p>Warehousing is the process of storing physical goods or inventory in a warehouse or storage facility before they are sold or distributed. Warehouses safely and securely store and protect products in an organized way, making it easy to track an item’s location, when the items arrived, how long the item has been there, and the quantity on hand.
    Warehousing is the process of storing physical inventory for sale or distribution. Warehouses are used by all different types of businesses that need to temporarily store products in bulk before either shipping them to other locations or individually to end consumers.

For instance, many ecommerce businesses will purchase products in bulk from their suppliers, who ship them to their warehouse for storage. When an end customer then places an order from the ecommerce site, the business — or its third-party fulfillment provider — picks and packs the product from the warehouse and ships it directly to the customer.

Ecommerce has driven rapid growth throughout the warehousing industry. In fact, the market has doubled in the last decade as businesses around the world invest heavily in their supply chains to get goods to consumers and businesses faster and more efficiently.

This isn’t only limited to ecommerce businesses. Most physical retail businesses have limited space in their stores to hold inventory but still need to keep up with demand. Having additional inventory available in nearby warehouses helps ensure they are always able to restock their stores during high volume times like the holidays, even if their suppliers are in other countries and are slow to produce and ship new product.
Warehousing is an essential part of the supply chain for most types of businesses that deal in physical goods. This could be consumer businesses holding a product that eventually makes its way to an end retail customer, or it could be business to business (B2B) companies storing products that eventually make it to business customers.

For retail and ecommerce businesses, warehousing allows the purchase of wholesale goods in bulk that may not fit in a physical retail store or yet be purchased by an end consumer online. Large bulk orders allow these businesses to negotiate lower prices with their suppliers, thus improving their margins when selling to customers. They can also keep inventory available as demand fluctuates to ensure products stay in stock.

In addition, warehousing allows businesses to store products in strategic geographic areas to reduce delivery times and shipping costs. For example, if a business is selling a product directly to consumers across the US, they may want to store inventory in multiple different regions of the country. Similarly, if they’re selling to consumers around the globe, they’ll want to strategically place warehouses in different countries to speed up deliveries and minimize shipments that have to go through customs.

With over 20,000 warehouses around the US and consumers now very accustomed to same-day delivery, this is becoming an ever more important aspect of businesses shipping directly to customers.
</p>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
                <img src="https://www.clipartmax.com/png/middle/200-2001223_wms-warehouse-management-system-pan-am-logo.png"  width="800" height="500">
      </div>
    </div>
    </div>
{% endblock %}
